html, body {
    min-width: 290px;
    color: #4d4e53;
    background-color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}

.var {
  width: 100%;
  height: 30px;
  background-color: grey;
  padding: 10px
}
header {
  font-weight: bold;
  font-size: 34px;
}

.topics {
  display: flex;
  justify-content:left;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-bottom: 110px;
}

@media only screen and (max-width: 815px)
#main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
}
